@font-face {
  font-family: "GothamBookRegular";
  src: url("../fonts/GothamBookRegular.otf");
}

@font-face {
  font-family: "GothamMediumRegular";
  src: url("../fonts/GothamMediumRegular.ttf");
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/GothamBold.otf");
}

@font-face {
  font-family: "NeutraTextBold";
  src: url("../fonts/NeutraTextBold.otf");
}
