@import "./fonts";
$primary-dark: #b48f49;
$primary-light: #e79e42;
$accent-blue: #0f6fb4;
$dark-grey: #333333;
$light-red: #ed1c24;
$neutratext: "NeutraTextBold", sans-serif;
$gothamregular: "GothamBookRegular", sans-serif;
$gothammedium: "GothamMediumRegular", sans-serif;
$gothambold: "GothamBold", sans-serif;
body {
  font-family: $gothamregular;
}

.navbar {
  justify-content: flex-end;
  background: #000;

  &.navbar-dark {
    .navbar-nav {
      .separator {
        width: 1px;
        border-left: 1px solid $primary-dark;
        margin: 0 15px;
      }
      .nav-item {
        &.active {
          .nav-link {
            color: #fff;
            &:hover {
              color: #fff;
            }
          }
        }
        .nav-link {
          padding: 0.1rem 1rem;
          color: $primary-dark;
          font-size: 14px;
          transition: all 0.3s;

          &:hover {
            color: darken($primary-dark, 10%);
          }

          @media (max-width: 991px) {
            padding: 0.5rem 1rem;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.adani-logo {
  width: 110px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
}

.carousel-caption {
  text-align: left;
  bottom: 20%;
  font-family: $gothammedium;

  @media (max-width: 991px) {
    bottom: 10%;
    left: 20%;
  }

  @media (max-width: 767px) {
    bottom: 20%;
    left: 5%;
  }

  &__line1 {
    background: $accent-blue;
    letter-spacing: 1px;
    padding: 5px 5px 4px;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
  }

  &__line2 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1.4;
    text-shadow: -1px 2px 15px rgba(black, 0.7);
    font-family: $neutratext;

    @media (max-width: 991px) {
      font-size: 22px;
    }
  }

  &__line3 {
    font-size: 18px;
    text-shadow: -1px 2px 15px rgba(black, 0.7);
    margin: 0 0 25px 0;
    width: 60%;

    @media (max-width: 991px) {
      font-size: 13px;
    }
  }
}

.video-btn {
  color: #fff;
  background: $primary-light;
  border-radius: 0;
  padding: 0.5rem 1.8rem;

  @media (max-width: 991px) {
    font-size: 13px;
  }

  &:hover {
    background: darken($primary-light, 10%);
  }
}

.support {
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  &__social {
    margin: 10px 0 0 0;
  }
  a {
    color: #555;
    background: #ededed;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      background: #555;
      color: #ededed;
    }
  }
}

.carousel-control-line {
  width: 25px;
  height: 1px;
  background: #fff;
}

.section-hero {
  .heroslider-img {
    @media (max-width: 767px) {
      height: 500px;
      object-fit: cover;
    }
  }
  // .carousel-inner {
  //   z-index: 1;
  // }
  .adani-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;

    @media (max-width: 991px) {
      width: 80px;
    }
  }

  .support {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .scrolldown {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 24px;
    transform: translateX(-50%);
    animation: blink 2.5s ease-in-out infinite;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: auto;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;

  @media (max-width: 767px) {
    display: none;
  }
}

.section-project {
  background: url(../img/project-bg.jpg) no-repeat center center / cover;
  display: flex;
  flex-wrap: wrap;

  .adani-logo {
    width: 130px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-shadow: 0px 16px 22px -19px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 16px 22px -19px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 16px 22px -19px rgba(0, 0, 0, 0.8);
  }
}

.project.col1 {
  position: relative;
  width: 40%;
  padding: 35px;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.col1 {
  &__content {
    margin: 15px 0 0 0;
  }
}

.btn-outline-black {
  border: 2px solid $dark-grey;
  border-radius: 0;
  color: $dark-grey;
  font-family: $gothammedium;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 17px;
}

.btn-outline-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $dark-grey;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-outline-black:hover,
.btn-outline-black:focus,
.btn-outline-black:active {
  color: white;
}
.btn-outline-black:hover:before,
.btn-outline-black:focus:before,
.btn-outline-black:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  font-family: $neutratext;
}

.section-subtitle {
  font-size: 17px;
  font-weight: bold;
}

.project.col2 {
  position: relative;
  width: 35%;
  background: url("../img/project-col2-bg.jpg") no-repeat center center / cover;

  @media (max-width: 991px) {
    width: 40%;
  }

  @media (max-width: 991px) {
    width: 100%;
    min-height: 220px;
  }

  .support {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

.project.col3 {
  width: 25%;
  padding: 35px;

  @media (max-width: 991px) {
    width: 60%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.col3 {
  &__listitem {
    display: flex;
    margin: 15px 0 5px 0;
    padding: 5px;

    .fas {
      font-size: 6px;
      margin-top: 5px;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba($dark-grey, 0.1);
  }

  &__listcontent {
    margin-left: 15px;
    line-height: 1;
    font-style: italic;
    font-family: $gothammedium;

    a {
      color: #fff;
      font-weight: 400;
      font-size: 12px;
    }
  }
}

.section-title-small {
  font-size: 25px;
  font-weight: bold;
  font-family: $neutratext;
}

.section-fortune {
  background: url(../img/fortune-bg.jpg) no-repeat center top / cover;
  padding: 30px;
  text-align: center;
  @media (max-width: 991px) {
    background-position: top right;
  }

  @media (max-width: 991px) {
    background-position: top center;
  }

  p {
    margin-bottom: 5px;
  }
}

.pledge-btn {
  border-radius: 0;
  background: $light-red;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 0.6rem 1.5rem;
  letter-spacing: 2px;
  margin: 1.5rem 0 1rem 0;

  &:hover {
    background: darken($light-red, 10%);
    color: #fff;
  }
}

.help-title {
  font-weight: bold;
}

.help-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.help {
  width: 29%;

  @media (max-width: 991px) {
    width: 35%;
  }

  @media (max-width: 767px) {
    width: 80%;
  }
}

.help__img {
  width: 100%;
  display: block;
  margin: 30px auto 20px auto;
  max-width: 200px;

  @media (max-width: 991px) {
    width: 60%;
  }
}

.project-line {
  margin-left: -35px;
  z-index: 1;
  position: relative;
  width: 130%;

  @media (max-width: 991px) {
    margin-left: -5%;
    width: 110%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
